.Apps{
  padding:20px;
  align-items: center;
  text-align: center;
}
.nav
{
  display: flex;
}
ul{
  text-decoration: none;
}
ul li{
  list-style: none;
  text-decoration: none;
  padding:25px;
  border: solid 2px black;
}
li:hover{
  text-decoration: none;
  background-color:blanchedalmond;
}

